1. Seleccion (.loc, .iloc), Filtrado, Deteccion valores nulos, NaN (.all, .notnull, .isnull, .any, .dropna)

2.

In [63]:
import pandas as pd
import numpy as np
election = pd.read_csv('https://assets.datacamp.com/production/repositories/502/datasets/502f4eedaf44ad1c94b3595c7691746f282e0b0a/pennsylvania2012_turnout.csv',index_col= 'county')

In [130]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [131]:
#.iloc (Especificamos numericamente la fila y columna) y .loc (Especificamos con nombres la fila y columna)
election.iloc[4, 4] == election.loc['Bedford', 'winner']

True

In [133]:
#Selecion de Columnas
election[['winner','voters']].head()

           winner  voters
county
Adams      Romney   61156
Allegheny   Obama  924351
Armstrong  Romney   42147
Beaver     Romney  115157
Bedford    Romney   32189

In [134]:
#Seleccion de columnas y elementos del 0:5
election['winner'][0:5]

county
Adams        Romney
Allegheny     Obama
Armstrong    Romney
Beaver       Romney
Bedford      Romney
Name: winner, dtype: object

In [135]:
#Todas las filas y seleccion entre 2 Columnas
election.loc[:, 'Obama':'voters'].head()

               Obama     Romney  winner  voters
county
Adams      35.482334  63.112001  Romney   61156
Allegheny  56.640219  42.185820   Obama  924351
Armstrong  30.696985  67.901278  Romney   42147
Beaver     46.032619  52.637630  Romney  115157
Bedford    22.057452  76.986570  Romney   32189

In [136]:
#Seleccion entre filas y todas las columnas
election.loc['Armstrong':'Bedford',:]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [137]:
#Seleccion entre filas y columnas
election.loc['Armstrong':'Bedford','Obama':'voters']

               Obama     Romney  winner  voters
county
Armstrong  30.696985  67.901278  Romney   42147
Beaver     46.032619  52.637630  Romney  115157
Bedford    22.057452  76.986570  Romney   32189

In [138]:
#Seleccion entre filas 2:5 y de la columna 1 en adelante
election.iloc[2:5,1:]

           total      Obama     Romney  winner  voters    turnout     margin
county
Armstrong  28322  30.696985  67.901278  Romney   42147  67.198140  37.204293
Beaver     80015  46.032619  52.637630  Romney  115157  69.483401   6.605012
Bedford    21444  22.057452  76.986570  Romney   32189  66.619031  54.929118

In [139]:
#Seleccion entre filas y ciertas columnas
election.loc['Armstrong':'Berks',['Obama','voters']]

               Obama  voters
county
Armstrong  30.696985   42147
Beaver     46.032619  115157
Bedford    22.057452   32189
Berks      48.939376  250356

In [140]:
#Ciertas filas y columnas
election.iloc[[1,4,5],[2,4]]

               Obama  winner
county
Allegheny  56.640219   Obama
Bedford    22.057452  Romney
Berks      48.939376  Romney

In [141]:
#Diferencia de objeto al seleccionar, Series (Estructura de datos para una sola columna)
#dataframe (Estructura de datos tabular)
#Por lo tanto las series son las columnas y dataframes diccionarios
type(election['Obama'])

pandas.core.series.Series

In [142]:
type(election[['Obama']])

pandas.core.frame.DataFrame

In [143]:
#Creando listas de valores a tomar en cuenta
rows = ['Philadelphia', 'Centre', 'Fulton']
cols = ['winner', 'Obama', 'Romney']

election.loc[rows, cols]

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

### Filtros

Necesitamos crear condiciones logicas dentro de nuestros datos.

In [144]:
(election.Obama > 40).head()

county
Adams        False
Allegheny     True
Armstrong    False
Beaver        True
Bedford      False
Name: Obama, dtype: bool

In [145]:
#Toma solo los valores True de la condicion logica generada.
election[election.Obama > 40].head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933

In [146]:
#Podemos generar nuestras reglas en una lista y luego pasasela al dataframe
Filtro = election.Obama > 40
election[Filtro].head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933

In [147]:
#Multiples condiciones (Y se define con &), (O se define como |)
election[(election.Obama > 40) & (election.winner == 'Obama')].head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Dauphin,PA,122625,52.362080,46.351070,Obama,178924,68.534685,6.011009
Delaware,PA,272853,60.400655,38.581214,Obama,397338,68.670251,21.819441
Erie,PA,112732,57.779512,40.895221,Obama,176851,63.744056,16.884292

In [148]:
too_close = election['margin'] < 1

#Asigna NaN, donde se cumpla la condicion
election.loc[too_close, 'winner'] = np.nan
election.head(8)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
Berks,PA,163253,48.939376,49.528646,NaN,250356,65.208343,0.589269
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351

In [109]:
too_close = election['Romney'] < 45

#Asigna 0, donde se cumpla la condicion
election.loc[too_close, 'winner'] = 0
election.head(8)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,0,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
Berks,PA,163253,48.939376,49.528646,NaN,250356,65.208343,0.589269
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351

### Deteccion Valores Faltantes

In [150]:
election.notnull().all() #Con que uno sea False regresa False

state       True
total       True
Obama       True
Romney      True
winner     False
voters      True
turnout     True
margin      True
dtype: bool

In [151]:
election.notnull().any() #any() Si almenos un valor es True regresa todo como True

state      True
total      True
Obama      True
Romney     True
winner     True
voters     True
turnout    True
margin     True
dtype: bool

In [116]:
election.isnull().any() #Regresa True donde tengamos un nulo

state      False
total      False
Obama      False
Romney     False
winner      True
voters     False
turnout    False
margin     False
dtype: bool

In [119]:
election.dropna(how = 'any').shape #Si almenos en alguna fila existe algun NaN, la elimina

(64, 8)

In [120]:
election.dropna(how = 'all').shape #Toda la fila debe tener NaN

(67, 8)

In [123]:
election.dropna(thresh = 66, axis='columns').shape #Elimina la columna, que contenga 66 valores no nulos

(67, 7)

### Transformaciones dataFrame

.apply() Permite aplicar una funcion arbitraria a cada elemento.

In [8]:
def Operacion(n):
    return np.log(n) * 100

In [9]:
election[['total','Romney','voters']].apply(Operacion).head()

                 total      Romney       voters
county
Adams      1064.478183  414.491093  1102.118326
Allegheny  1332.884244  374.208414  1373.684715
Armstrong  1025.139417  421.805486  1064.891879
Beaver     1128.996940  396.343127  1165.405169
Bedford     997.320016  434.363099  1037.938006

.map() transforma los valores de acuerdo a una busqueda en los diccionarios.

In [11]:
red_vs_blue = {'Obama':'blue', 'Romney':'red'}
election['color'] = election['winner'].map(red_vs_blue)
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin,color
county,,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667,red
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399,blue
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293,red
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012,red
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118,red

Usando funciones Vectorizadas, Cuando el rendimiento es primodial evitemos el uso de .apply() y .map()
Numpy y SciPy vienen con una variedad de funciones vectorizadas.

In [20]:
from scipy.stats import zscore

#En lugar de usar .apply(), tenemos funciones en scipy que ayudan. ejemplo zscore (Estad)
turnout_zscore = zscore(election['turnout'])
print(type(turnout_zscore))
election['turnout_zscore'] = turnout_zscore
election.head()

<class 'numpy.ndarray'>

,state,total,Obama,Romney,winner,voters,turnout,margin,color,turnout_zscore
county,,,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667,red,0.853734
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399,blue,0.439846
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293,red,0.575650
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012,red,1.018647
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118,red,0.463391

## Parte 2 Indexacion Avanzada

In [23]:
election.index

Index(['Adams', 'Allegheny', 'Armstrong', 'Beaver', 'Bedford', 'Berks',
       'Blair', 'Bradford', 'Bucks', 'Butler', 'Cambria', 'Cameron', 'Carbon',
       'Centre', 'Chester', 'Clarion', 'Clearfield', 'Clinton', 'Columbia',
       'Crawford', 'Cumberland', 'Dauphin', 'Delaware', 'Elk', 'Erie',
       'Fayette', 'Forest', 'Franklin', 'Fulton', 'Greene', 'Huntingdon',
       'Indiana', 'Jefferson', 'Juniata', 'Lackawanna', 'Lancaster',
       'Lawrence', 'Lebanon', 'Lehigh', 'Luzerne', 'Lycoming', 'McKean',
       'Mercer', 'Mifflin', 'Monroe', 'Montgomery', 'Montour', 'Northampton',
       'Northumberland', 'Perry', 'Philadelphia', 'Pike', 'Potter',
       'Schuylkill', 'Snyder', 'Somerset', 'Sullivan', 'Susquehanna', 'Tioga',
       'Union', 'Venango', 'Warren', 'Washington', 'Wayne', 'Westmoreland',
       'Wyoming', 'York'],
      dtype='object', name='county')

In [27]:
election.index[0].upper()

'ADAMS'

Los indices son objetos inmutables. Significa que si se desea cambiar o modificar el indice de un Data Frame, es necesario cambiar todos los valores.

No apoyaremos en las listas de comprension para esto.

In [40]:
new_idx = [names.upper() for names in election.index]
print(new_idx[0:5])
election.index = new_idx
election.head()

['ADAMS', 'ALLEGHENY', 'ARMSTRONG', 'BEAVER', 'BEDFORD']

Resultados,state,total,Obama,Romney,winner,voters,turnout,margin
ADAMS,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
ALLEGHENY,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
ARMSTRONG,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
BEAVER,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
BEDFORD,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [41]:
#Colocaremos un nombre a nuestros indices y columnas
election.index.name = 'County'
election.columns.name = 'Resultados'
election.head()

Resultados,state,total,Obama,Romney,winner,voters,turnout,margin
County,,,,,,,,
ADAMS,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
ALLEGHENY,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
ARMSTRONG,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
BEAVER,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
BEDFORD,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

Tambien se puede construir los indices desde cero, y luego juntarlos con el marco de datos.
Se debe tener cuidado para evitar errores de matcheo.

In [42]:
new_idx = range(len(election))
election_copy = election.copy()
election_copy.index = new_idx
election_copy.head()

Resultados,state,total,Obama,Romney,winner,voters,turnout,margin
0,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
1,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
2,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
3,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
4,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

### Indices Jerarquicos

Un buen uso para los indices es poder hacer filtros de formas mas rapidas y claras

In [64]:
election = election.set_index(['state','winner'])
election.sort_index()
election.head()

               total      Obama     Romney  voters    turnout     margin
state winner
PA    Romney   41973  35.482334  63.112001   61156  68.632677  27.629667
      Obama   614671  56.640219  42.185820  924351  66.497575  14.454399
      Romney   28322  30.696985  67.901278   42147  67.198140  37.204293
      Romney   80015  46.032619  52.637630  115157  69.483401   6.605012
      Romney   21444  22.057452  76.986570   32189  66.619031  54.929118

In [65]:
election.loc['PA',:].head()

         total      Obama     Romney  voters    turnout     margin
winner
Romney   41973  35.482334  63.112001   61156  68.632677  27.629667
Obama   614671  56.640219  42.185820  924351  66.497575  14.454399
Romney   28322  30.696985  67.901278   42147  67.198140  37.204293
Romney   80015  46.032619  52.637630  115157  69.483401   6.605012
Romney   21444  22.057452  76.986570   32189  66.619031  54.929118

Podemos ir realizando consultas mas complejas sobre los indices.

In [71]:
#Especificamos el primer nivel y el segundo nivel de index.
election.loc[('PA','Obama'), :]

C:\Users\Carlos.Flores\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:1472: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

               total      Obama     Romney   voters    turnout     margin
state winner
PA    Obama   614671  56.640219  42.185820   924351  66.497575  14.454399
      Obama   319407  49.966970  48.801686   435606  73.324748   1.165284
      Obama   122625  52.362080  46.351070   178924  68.534685   6.011009
      Obama   272853  60.400655  38.581214   397338  68.670251  21.819441
      Obama   112732  57.779512  40.895221   176851  63.744056  16.884292
      Obama    97116  63.129659  35.761358   149474  64.971835  27.368302
      Obama   144922  53.152040  45.604532   226453  63.996503   7.547508
      Obama   123741  51.699922  46.847043   194137  63.739009   4.852878
      Obama    59312  56.364648  42.318586   108879  54.475151  14.046062
      Obama   401787  56.637223  42.286834   551105  72.905708  14.350390
      Obama   125883  51.646370  47.061160   209414  60.112027   4.585210
      Obama   653598  85.224251  14.051451  1099197  59.461407  71.172800

In [70]:
#Permite saltarnos el primer nivel para seleccionar lo que necesitemos del segundo nivel de index
election.loc[(slice(None),'Obama'),:]

               total      Obama     Romney   voters    turnout     margin
state winner
PA    Obama   614671  56.640219  42.185820   924351  66.497575  14.454399
      Obama   319407  49.966970  48.801686   435606  73.324748   1.165284
      Obama   122625  52.362080  46.351070   178924  68.534685   6.011009
      Obama   272853  60.400655  38.581214   397338  68.670251  21.819441
      Obama   112732  57.779512  40.895221   176851  63.744056  16.884292
      Obama    97116  63.129659  35.761358   149474  64.971835  27.368302
      Obama   144922  53.152040  45.604532   226453  63.996503   7.547508
      Obama   123741  51.699922  46.847043   194137  63.739009   4.852878
      Obama    59312  56.364648  42.318586   108879  54.475151  14.046062
      Obama   401787  56.637223  42.286834   551105  72.905708  14.350390
      Obama   125883  51.646370  47.061160   209414  60.112027   4.585210
      Obama   653598  85.224251  14.051451  1099197  59.461407  71.172800

### Reorganizacion de los datos

Pivoteando una sola variable.

In [172]:
gapminder = pd.read_csv('https://assets.datacamp.com/production/repositories/502/datasets/09378cc53faec573bcb802dce03b01318108a880/gapminder_tidy.csv')
gapminder.head()

,Country,Year,fertility,life,population,child_mortality,gdp,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,South Asia

Nos gustaria tener un resumen de la pertenencia de los paises por region, al pivotear una variable no podemos tener datos duplicados.

Por lo que solo trabajaremos con un año 1964

In [173]:
gapminder = gapminder.set_index(['Country','Year']) 
gapminder_copy = gapminder.loc[(slice(None),1964),:] #Filtramos solo los valores del año 1964 para no tener datos duplicados
gapminder_copy = gapminder_copy.reset_index() #.pivot no permitira trabajar con los index

In [174]:
gapminder_copy.pivot(index = 'region', columns='Country', values = 'gdp')

Country,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,Virgin Islands (U.S.),West Bank and Gaza,Western Sahara,"Yemen, Rep.",Zambia,Zimbabwe
region,,,,,,,,,,,,,,,,,,,,,
America,NaN,NaN,NaN,NaN,5008.0,8227.0,NaN,5505.0,NaN,NaN,...,NaN,NaN,13789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
East Asia & Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16098.0,NaN,...,NaN,1553.0,NaN,1285.0,NaN,NaN,NaN,NaN,NaN,NaN
Europe & Central Asia,NaN,3023.0,NaN,NaN,NaN,NaN,2823.0,NaN,NaN,13915.0,...,2636.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Middle East & North Africa,NaN,NaN,5693.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1237.0,NaN,NaN,NaN,NaN
South Asia,1182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sub-Saharan Africa,NaN,NaN,NaN,4573.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3214.0,1976.0

In [177]:
#Si no especificamos la columna a pivotear todas las de mas columnas seran pivoteadas
gapminder_copy.pivot(index = 'region', columns = 'Country')

                                  Year                          \
Country                    Afghanistan Albania Algeria  Angola
region
America                            NaN     NaN     NaN     NaN
East Asia & Pacific                NaN     NaN     NaN     NaN
Europe & Central Asia              NaN  1964.0     NaN     NaN
Middle East & North Africa         NaN     NaN  1964.0     NaN
South Asia                      1964.0     NaN     NaN     NaN
Sub-Saharan Africa                 NaN     NaN     NaN  1964.0

                                                                          \
Country                    Antigua and Barbuda Argentina Armenia   Aruba
region
America                                 1964.0    1964.0     NaN  1964.0
East Asia & Pacific                        NaN       NaN     NaN     NaN
Europe & Central Asia                      NaN       NaN  1964.0     NaN
Middle East & North Africa                 NaN       NaN     NaN     NaN
South Asia                                 NaN       NaN     NaN     NaN
Sub-Saharan Africa                         NaN       NaN     NaN     NaN

                                               ...           gdp          \
Country                    Australia Austria   ...    Uzbekistan Vanuatu
region                                         ...
America                          NaN     NaN   ...           NaN     NaN
East Asia & Pacific           1964.0     NaN   ...           NaN  1553.0
Europe & Central Asia            NaN  1964.0   ...        2636.0     NaN
Middle East & North Africa       NaN     NaN   ...           NaN     NaN
South Asia                       NaN     NaN   ...           NaN     NaN
Sub-Saharan Africa               NaN     NaN   ...           NaN     NaN

                                                                    \
Country                    Venezuela Vietnam Virgin Islands (U.S.)
region
America                      13789.0     NaN                   NaN
East Asia & Pacific              NaN  1285.0                   NaN
Europe & Central Asia            NaN     NaN                   NaN
Middle East & North Africa       NaN     NaN                   NaN
South Asia                       NaN     NaN                   NaN
Sub-Saharan Africa               NaN     NaN                   NaN

                                                                          \
Country                    West Bank and Gaza Western Sahara Yemen, Rep.
region
America                                   NaN            NaN         NaN
East Asia & Pacific                       NaN            NaN         NaN
Europe & Central Asia                     NaN            NaN         NaN
Middle East & North Africa             1237.0            NaN         NaN
South Asia                                NaN            NaN         NaN
Sub-Saharan Africa                        NaN            NaN         NaN


Country                     Zambia Zimbabwe
region
America                        NaN      NaN
East Asia & Pacific            NaN      NaN
Europe & Central Asia          NaN      NaN
Middle East & North Africa     NaN      NaN
South Asia                     NaN      NaN
Sub-Saharan Africa          3214.0   1976.0

[6 rows x 1212 columns]

#### Stack y unstack