1. Seleccion (.loc, .iloc), Filtrado, Deteccion valores nulos, NaN (.all, .notnull, .isnull, .any, .dropna)

2.

In [129]:
import pandas as pd
import numpy as np
election = pd.read_csv('https://assets.datacamp.com/production/repositories/502/datasets/502f4eedaf44ad1c94b3595c7691746f282e0b0a/pennsylvania2012_turnout.csv',index_col= 'county')

In [130]:
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [131]:
#.iloc (Especificamos numericamente la fila y columna) y .loc (Especificamos con nombres la fila y columna)
election.iloc[4, 4] == election.loc['Bedford', 'winner']

True

In [133]:
#Selecion de Columnas
election[['winner','voters']].head()

           winner  voters
county
Adams      Romney   61156
Allegheny   Obama  924351
Armstrong  Romney   42147
Beaver     Romney  115157
Bedford    Romney   32189

In [134]:
#Seleccion de columnas y elementos del 0:5
election['winner'][0:5]

county
Adams        Romney
Allegheny     Obama
Armstrong    Romney
Beaver       Romney
Bedford      Romney
Name: winner, dtype: object

In [135]:
#Todas las filas y seleccion entre 2 Columnas
election.loc[:, 'Obama':'voters'].head()

               Obama     Romney  winner  voters
county
Adams      35.482334  63.112001  Romney   61156
Allegheny  56.640219  42.185820   Obama  924351
Armstrong  30.696985  67.901278  Romney   42147
Beaver     46.032619  52.637630  Romney  115157
Bedford    22.057452  76.986570  Romney   32189

In [136]:
#Seleccion entre filtas y todas las columnas
election.loc['Armstrong':'Bedford',:]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [137]:
#Seleccion entre filas y columnas
election.loc['Armstrong':'Bedford','Obama':'voters']

               Obama     Romney  winner  voters
county
Armstrong  30.696985  67.901278  Romney   42147
Beaver     46.032619  52.637630  Romney  115157
Bedford    22.057452  76.986570  Romney   32189

In [138]:
#Seleccion entre filas 2:5 y de la columna 1 en adelante
election.iloc[2:5,1:]

           total      Obama     Romney  winner  voters    turnout     margin
county
Armstrong  28322  30.696985  67.901278  Romney   42147  67.198140  37.204293
Beaver     80015  46.032619  52.637630  Romney  115157  69.483401   6.605012
Bedford    21444  22.057452  76.986570  Romney   32189  66.619031  54.929118

In [139]:
#Seleccion entre filas y ciertas columnas
election.loc['Armstrong':'Berks',['Obama','voters']]

               Obama  voters
county
Armstrong  30.696985   42147
Beaver     46.032619  115157
Bedford    22.057452   32189
Berks      48.939376  250356

In [140]:
#Ciertas filas y columnas
election.iloc[[1,4,5],[2,4]]

               Obama  winner
county
Allegheny  56.640219   Obama
Bedford    22.057452  Romney
Berks      48.939376  Romney

In [141]:
#Diferencia de objeto al seleccionar, Series (Estructura de datos para una sola columna)
#dataframe (Estructura de datos tabular)
#Por lo tanto las series son las columnas y dataframes diccionarios
type(election['Obama'])

pandas.core.series.Series

In [142]:
type(election[['Obama']])

pandas.core.frame.DataFrame

In [143]:
#Creando listas de valores a tomar en cuenta
rows = ['Philadelphia', 'Centre', 'Fulton']
cols = ['winner', 'Obama', 'Romney']

election.loc[rows, cols]

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

### Filtros

Necesitamos crear condiciones logicas dentro de nuestros datos.

In [144]:
(election.Obama > 40).head()

county
Adams        False
Allegheny     True
Armstrong    False
Beaver        True
Bedford      False
Name: Obama, dtype: bool

In [145]:
#Toma solo los valores True de la condicion logica generada.
election[election.Obama > 40].head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933

In [146]:
#Podemos generar nuestras reglas en una lista y luego pasasela al dataframe
Filtro = election.Obama > 40
election[Filtro].head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Cambria,PA,57718,40.162514,57.978447,Romney,86988,66.351681,17.815933

In [147]:
#Multiples condiciones (Y se define con &), (O se define como |)
election[(election.Obama > 40) & (election.winner == 'Obama')].head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Dauphin,PA,122625,52.362080,46.351070,Obama,178924,68.534685,6.011009
Delaware,PA,272853,60.400655,38.581214,Obama,397338,68.670251,21.819441
Erie,PA,112732,57.779512,40.895221,Obama,176851,63.744056,16.884292

In [148]:
too_close = election['margin'] < 1

#Asigna NaN, donde se cumpla la condicion
election.loc[too_close, 'winner'] = np.nan
election.head(8)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
Berks,PA,163253,48.939376,49.528646,NaN,250356,65.208343,0.589269
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351

In [109]:
too_close = election['Romney'] < 45

#Asigna 0, donde se cumpla la condicion
election.loc[too_close, 'winner'] = 0
election.head(8)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,0,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
Berks,PA,163253,48.939376,49.528646,NaN,250356,65.208343,0.589269
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351

### Deteccion Valores Faltantes

In [150]:
election.notnull().all() #Con que uno sea False regresa False

state       True
total       True
Obama       True
Romney      True
winner     False
voters      True
turnout     True
margin      True
dtype: bool

In [151]:
election.notnull().any() #any() Si almenos un valor es True regresa todo como True

state      True
total      True
Obama      True
Romney     True
winner     True
voters     True
turnout    True
margin     True
dtype: bool

In [116]:
election.isnull().any() #Regresa True donde tegamos un nulo

state      False
total      False
Obama      False
Romney     False
winner      True
voters     False
turnout    False
margin     False
dtype: bool

In [119]:
election.dropna(how = 'any').shape #Si almenos en alguna fila existe algun NaN, la elimina

(64, 8)

In [120]:
election.dropna(how = 'all').shape #Toda la fila debe tener NaN

(67, 8)

In [123]:
election.dropna(thresh = 66, axis='columns').shape #Elimina la columna, que contenga 66 valores no nulos

(67, 7)

### Transformaciones dataFrame